{% load staticfiles %}
{% load static %}

<html>
    {%include 'base.html'%}
    <body onload="myFunction()" style="margin:0;">
        <div id = 'loader'></div>
        <div style="display:none;" id="myDiv" class="animate-bottom">
            <div>
                <img id="star" width="25" height="25" src="https://gitlab.com/georgematthewl/story9-ppw/raw/master/static/assets/favorited.png">                
                <span id = "counter">0</span> 
            </div>
            <table class="table table-bordered table-hover">
                <thead class = "table-light">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Published Date</th>
                    <th>Add to Favorite</th>
                </tr>
                </thead>
                <tbody id = "table_content">
                </tbody>
            </table>
        </div>
    
    </body>
</html>