{% load staticfiles %}
{% load static %}
<html>
    {%include 'base.html'%}
    <body onload="myFunction()" style="margin:0;">
        <div id = 'loader'></div>
        <div style="display:none;" id="myDiv" class="animate-bottom">
            
            <p> "Hello, apa kabar?" </p>
            <div id = tampilan_form>
                <section name="form">
                    <h2> Update Status </h2>
                    <br>
                    <form id="form" method="POST" action = "{% url 'post_input' %}">
                        {% csrf_token %}
                        {{ todo_form.as_p}}
                        <br>
                        <button type="submit" class="btn btn-default" id ="submit">Submit</button>
                    </form>
                </section>
            </div>

            <div style = "text-align : center">
                <table class = "table">
                    <thead>
                        <th>Status</th>
                        <th>Time Updated</th>
                    </head>
                    {% for status in todo %}
                    <tr> 
                        <td>{{ status.status}}</td>
                        <td>{{ status.date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <button type="button" class="btn btn-success" id ="change_theme"><b>Change Theme</b></button>
        
            <button id = "json">TAMPILKAN</button>
            <div>
                <table id = "table"></table>
            </div>

            <button type="button" href = "TDD-Registration" class="btn btn-success" id ="subscribe"><b>Subscribe</b></button>
        </div>   
    </body>
</html>