{% load staticfiles %}
{% load static %}
  <head> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    {%include 'base.html'%}
        <div class = "rows">
            <div class = "col-md-4">
                <div class="experiences">
                    <h2 style="color: black"> EXPERIENCES </h2>
                    <ul class="pengalaman" id="text">
                        <li><a> PR Staff of Open House Fasilkom </a></li>
                        <li><a> Student Mentor of BETIS by Fasilkom </a></li>
                        <li><a> LO of Wisuda Genap Fasilkom </a></li>
                        <li><a> HR of DPM Fasilkom </a> </a></li>
                        <li><a> Chatbot Invasion Staff of COMPFEST X </a></li>
                        <li><a> Event Staff of PMB Fasilkom </a></li>        
                    </ul>
                </div>

                <div class="skill">
                    <h2 style="color: black"> DESIGN & PROGRAMMING SKILL </h2>
                    <img alt = "Design & Programming Skill" src= "{% static 'Skill.png' %}" /> 
                </div>
            </div>

            <div class="col-md-3">
                <div class="fotoprofil">
                        <img alt = "Foto Celine!" src= "{% static 'Foto Celine.png' %}"/>
                </div>
            </div>
            
            <div class = "col-md-5">
                <div class="about" id="text">
                    <h2 style = "color: black"> ABOUT </h2>
                    <p><i> Majoring in Computer Science. <br> I like to swim and watch Korean drama. <br>
                    "Give your best, so that 3 years from now, you will thank yourself."</i></p>
                    <br>
                    <img src = "{% static 'HBD.png' %}" alt = "Logo HBD" / height = "50" weight = "50">
                    <p left = "50px">"July, 3rd 1999"</p>
                </div>
                      
                <div class="languages">
                    <h2 style="color: black"> LANGUAGES </h2>
                    <img alt = "Languages Skill" src= "{% static 'Languages.png' %}" />
                </div>
            </div>
        </div>

        <!-- Change Theme Button -->
        <button type="button" class="btn btn-success" id ="change_theme"><b>Change Theme</b></button>
        
        <!-- ACCORDION -->
        <div class="container">
            <h2>My FAQ</h2>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What is your recent activity?</a>
                    </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">Trying my best to survive in Fasilkom :)</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">What are your experiences?</a>
                    </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <li>Vice PIC of Voting Division of Pemira Fasilkom</li>
                        <li>Event Staff of PMB Fasilkom</li>
                        <li>Chatbot Competition Staff of COMPFEST X</li>
                    </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What have you achieved this far?</a>
                    </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body"><i>Being able to <b>improve</b> both of my softskill and hardskill
                        through all of the things and events <b>I have been through.</b></i>
                    </div>
                    </div>
                </div>
            </div> 
        </div>
          
    </body>
</html>