{% load staticfiles %}
{% load static %}
<html>
    {%include 'base.html'%}
    <body onload="myFunction()" style="margin:0;">
        <div id = 'loader'></div>
        <div style="display:none;" id="myDiv" class="animate-bottom">
            
            <div id = tampilan_form>
                <section name="form">
                    <form id="form" method="POST" action = "{% url 'subscribe' %}">
                        {% csrf_token %}
                        {{ subscriber_form.as_p}}
                        <br>
                        <button disabled onclick="submitSubscribe()" type="submit" class="btn btn-default" id ="submit">Submit</button>
                    </form>
                    <p id='form-info' hidden></p>
                </section>
            </div>

        </div>   
    </body>
</html>